table {
  border-collapse: collapse;
  border: 1px solid #000;
  margin: 50px 20px;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  padding: 15px;
}

thead {
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
  font-weight: bold;
  text-align: center;
}

.header {
  border: 1px solid #000;
  width: 100%;
  height: 30px;
}

td {
  border: 1px solid #000;
  text-align: center;
}

.item {
  border: 1px solid #000;
}

.description {
  padding: 5px;
  text-align: left;
  font-family: 'Roboto', sans-serif;
}

.activeMember {
  border: 1px solid navy;
  background-color: #e6e6ff;
  border-radius: 5px;
  width: 100px;
  padding: 5px;
  margin: 5px;
  text-align: center;
}

.inactiveMember {
  border: 1px solid rgb(232, 232, 234);
  background-color: #e6e6ff;
  border-radius: 5px;
  width: 120px;
  padding: 5px;
  margin: 5px;
  text-align: center;
}

.leave {
  width: 120px;
  height: 30px;
  margin: 10px 10px;
  color: #f00;
  border: 1px solid #f00;
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.join {
  width: 120px;
  height: 30px;
  margin: 10px 10px;
  color: #000;
  border: 1px solid #000;
  background-color: #fff;
  cursor: pointer;
}
